header {
	
	height: 100vh;
	position: relative;
	
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size:60px;
 

  
  
  
}
.cardstyle {
  padding:20px;
}

.navbar.bg-light{
  border: none;
}

.footercustom {
  padding-top: 150px;
  padding-bottom:100px;
  font-weight:400;
  font-size: 50%;
}

.blocktext{
  font-size:100%;
}

.headshot{
  max-width: 60%;
  border-radius: 50%;
  margin-top:40px;
  margin-bottom:40px;
  margin-left: 10px;
  margin-right:10px;


}
.intro {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  margin-left:10px;
  margin-right:10px;
  margin-top:18%;
  
  
  
  
  
  
}

.subtitle{
  font-size:60%;
}

.projectblock{

  
  
 
 
  
}

.scroll-down{
  vertical-align: baseline;
  font-size: 1.6rem;
    font-style: italic;
    color: rgba(0,0,0,.54);
    z-index: 5;
    position: absolute;
    margin: 0;
    bottom: 30px;
    text-align: center;
    width: 100%;
    padding:0;
    opacity:1;
    transform:matrix(1,0,0,1,0,0);
    transition: opacity .2s ease;
    display: block;
    font-size:90%;
    


}

.fill { 
  min-height: 100%;
  height: 100%;
}
.center-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:50px;
  height:70vh;
  
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 4s forwards; /* forwards (animation-fill-mode) retains the style from the last keyframe when the animation ends */
}
